<%# <h1>Notifications</h1>

<% if @notifications.any? %>
  <%# <ul> %>
    <%# <% @notifications.each do |notification| %>
      <%# <li>
        <%= notification.content %> %>
        <%# <small>(<%= time_ago_in_words(notification.created_at) ago)</small> %>
      <%# </li>
    <% end %> %>
  <%# </ul>
<%# <% else %> %>
  <%# <p>Aucune notification pour le moment.</p> %>
<%# <% end %> %> %> %> %> %>
