.entertainment-area {
  display: flex;
  flex-direction: column;
  align-items: center;       // centre horizontalement
  justify-content: center;   // centre verticalement
  min-height: 90vh;          // prend presque toute la hauteur de l’écran
  padding: 20px;

  .textarea-center {
    width: 90%;
    max-width: 360px;
    height: 150px;
    font-size: 16px;
    text-align: center;
    padding: 15px;
    resize: vertical;
    border-radius: 12px;
    border:  solid ;
    margin-bottom: 20px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
  }
.btn-container {
  width: 90%;          // même largeur que la textarea
  max-width: 360px;
  display: flex;
  justify-content: flex-end; // bouton aligné à droite
  margin-top: 10px;
}

.btn-entertainment {
  padding: 12px 25px;
  font-size: 16px;
  border-radius: 8px;
}

}


.confirmation-area {
  display: flex;
  flex-direction: column;
  align-items: center;       // centre horizontalement
  justify-content: center;   // centre verticalement
  min-height: 100vh;         // prend toute la hauteur de l'écran
  padding: 20px;
  text-align: center;        // centre le texte

  // h1 {
  //   font-size: 24px;
  //   margin-bottom: 15px;
  // }

  p {
    font-size: 16px;
    max-width: 360px;        // limite la largeur du texte sur mobile
    line-height: 1.5;
  }

  .logo {
    margin-bottom: 20px;
    width: 80px;              // ajustez selon la taille du logo
    height: auto;
  }
  .btn-return {
  padding: 12px 25px;
  font-size: 16px;
  border-radius: 8px;
  width: 35%;          // même largeur que la textarea
  max-width: 360px;
  display: flex;
  margin-top: 10px;
  }
}
