// Specific CSS for your home-page
.top-right-btn {
  // position: fixed;
  // top: 20px;
  // left: 175px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 16px;
  background: $red;
  border: none;
  border-radius: 25px;
  color: white !important;
  font-size: 14px;
  font-weight: 500;
  z-index: 1000;
  text-decoration: none;
  white-space: nowrap;
  margin-top: 1em;

  &:hover {
    opacity: 0.8;
    color: white !important;
  }
}
.btn-orga{
  margin-right: 0.5em;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
}

.lyl-logo{
  height: 20vh;
  width: 40vh;
}
.container-btn{
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5em;
}
.search-form .input-wrapper {
  position: relative;
  display: flex;
  width: 100%;
  margin-top: 1.5em;
}

.search-input {
  width: 100%;
  padding: 10px 40px 10px 15px; /* espace à droite pour le bouton */
  border-radius: 50px;           /* coins arrondis */
  border: 1px solid #ccc;
  outline: none;
}

.search-btn {
  position: absolute;
  right: 5px;             /* place le bouton à l'intérieur à droite */
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: #555;
  font-size: 1rem;
  padding: 5px;
}

.search-btn:hover {
  color: #000;
}
.btn-inscription{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}
.home-text{
  margin-top: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container-content {
  margin: 2em;
}

.btn-inscription{
  margin-top: 1em;
}
