.flex-space-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
  a {
    color: $dark !important;
    font-size: 1.5rem;
    text-decoration: none;
  }
}

// .artist-photo-epk {
//   width: 400px;
//   height: 400px;
//   object-fit: cover;
//   object-position: center;
// }

.artist-photo-epk {
  width: 100vw;
  height: 50vh;
  object-fit: cover;
  object-position: center;
}

.download-btn-photo {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  padding: 10px;
  z-index: 10;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: rgba(255, 255, 255, 1);
  }

  i {
    color: $dark;
    font-size: 1.5rem;
  }
}
