.flex-space-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
  a {
    color: $dark !important;
    font-size: 1.5rem;
    text-decoration: none;
  }
}

.artist-photo-epk {
  width: 400px;
  height: 400px;
  object-fit: cover;
  object-position: center;
}
