<div class="bottom-navbar">
  <div class="navbar-container">
    <%= link_to entertainments_path do %>
      <i class="fa-solid fa-house-chimney fa-xl"></i>
    <% end %>

    <%= link_to notification_path do %>
      <i class="fa-solid fa-bell fa-xl"></i>
    <% end %>

    <%= link_to chats_path do %>
      <i class="fa-solid fa-message fa-xl"></i>
    <% end %>

    <%=  link_to dashboard_path do %>
      <i class="fa-solid fa-user fa-xl"></i>
    <% end %>
  </div>
</div>
