<div class="bottom-navbar">
  <div class="navbar-container">
    <%= link_to entertainments_path do %>
      <i class="fa-solid fa-house-chimney"></i>
    <% end %>

    <%# <%= link_to #(objective.chats.last), class: card_class do %>
      <i class="fa-solid fa-bell"></i>
    <%# <% end %>

    <%= link_to chats_path do %>
      <i class="fa-solid fa-message"></i>
    <% end %>

    <%= link_to dashboard_path do %>
      <i class="fa-solid fa-user"></i>
    <% end %>
  </div>
</div>
