<div class ="container-header">
  <h1><%= image_tag "lyltatent_logo.png", alt: "Ma photo", class: "lyl-logo-entertainments" %></h1>
</div>

<div class="confirmation-area">
  <br>
  <div class="textarea-center">
    <h1>Candidature envoyée</h1>
  </div>
  <div>
    <br>
    <p>
      Merci de l'intérêt que vous portez à cet événement. Votre candidature a été bien prise en compte,
      nous reviendrons vers vous dans les meilleurs délais.
    </p>
  </div>
  <div class="btn-container">
    <%= button_to "Retour", entertainments_path, method: :get, class: "bottom-middle-btn " %>
  </div>
</div>
