<div class ="container-header">
  <h1><%= image_tag "lyltatent_logo.png", alt: "Ma photo", class: "lyl-logo-entertainments" %></h1>
</div>

<%= simple_form_for [@entertainment, @entertainment_application] do |f| %>
  <div class="entertainment-area mb-3 relative">
    <%= f.input :message,
      as: :text,
      label: false,
      placeholder: "Entrez votre message pour l'événement",
      input_html: { class: "entertainment-card colordark", wrap: "soft" } %>

    <%= f.submit "Envoie simple", class: "bottom-right-btn" %>
  </div>
<% end %>
