.message {
  text-align: center;
  gap: 15px;
  margin-top: 20px;
}

.container-message {
  margin-bottom: 30px;
  margin-top: 30px;
}

.chat-cards {
  display: flex;
  flex-direction: column; /* les cards s'empilent verticalement */
  gap: 15px; /* espace entre chaque card */
  margin: 0 auto;
  max-width: 400px;
  padding: 0 10px;
  width: 100%;

  .application-card {
    overflow: hidden;
    height: auto;
    display: flex;
    align-items: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background: white;
    text-decoration: none;
    color: inherit;
    width: 100%;        /* prend toute la largeur */
    max-width: 400px;   /* limite la largeur */
    min-height: 80px;   /* la hauteur minimale */
  }

}

.application-card-avatar {
  margin-left: 10px;
  margin-right: 20px;
  display: flex; /* pour centrer la photo */
  align-items: center;
  justify-content: center;
}

.application-card-name {
  font-size: 16px;
  margin: 0;
  white-space: nowrap;      /* ne passe jamais à la ligne */
  overflow: hidden;         /* cache ce qui dépasse */
  text-overflow: ellipsis; /* ajoute "…" si c’est trop long */
  max-width: 200px;
}

.unread-message {
  font-weight: bold;
}
