.mapboxgl-ctrl-geocoder {
  max-width: none;
  width: 100%;
  border: 1px solid lightgrey;
  box-shadow: none;
  background-color: transparent;
  margin: 0 auto;
}

.mapboxgl-ctrl-top-left {
  left: 50%;
  transform: translateX(-50%);
  top: 10px;
}
