.bottom-middle-btn {
  width: 30vw;
  max-width: 300px;
  padding: 6px 10px;
  background: $red;
  border: none;
  border-radius: 25px;
  color: white !important;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  margin-bottom: 20px;

  &:hover {
    opacity: 0.8;
    color: white !important;
  }
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.btn-white {
  text-decoration: none;
  margin-bottom: 1rem;
  padding: 8px 16px;
  background-color: white;
  color: $dark;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}
