.bottom-middle-btn {
  width: 30vw;
  max-width: 300px;
  padding: 6px 10px;
  background: $red;
  border: none;
  border-radius: 25px;
  color: white !important;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  margin-bottom: 20px;

  &:hover {
    opacity: 0.8;
    color: white !important;
  }
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

  .bottom-right-btn {
  // le bouton envoie pour mettre en bas a droite sur la page entertainment_application
    padding: 6px 10px;
    background: $red;
    border: none;
    border-radius: 25px;
    color: white !important;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    margin-bottom: 20px;
  //  pour mettre en bas a droite
    align-self: flex-end;

      &:hover {
    opacity: 0.8;
    color: white !important;
  }
  }
