.musical-style-card {
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  margin: 10px;
}
.musical-style-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}


.condition-container {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  padding: 20px; /* Important pour que le texte respire */
  margin: 10px;
}
